/* Don't change the existing CSS. 

Do not change any HTML; 
write your CSS in style.css. The goal is to:

Make certain text white
Set the background of a specific div to red
Set the outermost div's background to purple
Ensure all boxes have 10px padding
Use only the selectors and classes provided.


*/

<<<<<<< HEAD
=======
#outer-box {
  background-color: purple;
}

>>>>>>> 9067f74 (保存本地改动)
.box {
  background-color: blue;
  padding: 10px;
}

<<<<<<< HEAD
=======
.inner-box {
  background-color: red;
}

>>>>>>> 9067f74 (保存本地改动)
p {
  color: yellow;
  margin: 0;
  padding: 0;
<<<<<<< HEAD
}
=======
}

.white-text {
  color: white;
}
>>>>>>> 9067f74 (保存本地改动)
