.container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: darkseagreen;
}

h1 {
  margin: 30px;
  font-family: "Gloria Hallelujah", cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: antiquewhite;
}

p {
  font-size: 2rem;
  color:antiquewhite;
  font-family: "Gloria Hallelujah", cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  font-size: 20px;
  color: antiquewhite;
  text-align: center;
  font-family: "Gloria Hallelujah", cursive;

}
