/* Write your code here: */
/* 
Refer to the goal image.
You may also link the href="./solution.css" in the index.html to see the webpage with the correct css
Topics to research:

Grouping Selectors
Child Selector (>)
Descendant Selector
Chaining Selectors
Combining Multiple Selector Combinations
Different selector combinations can be combined for more complex targeting. 

It is okay to look at the solution and then try it yourself!
*/

h1 {
    color: purple;
}

h2 {
    color: purple;
}

div p{
    color: red;
}

div li {
    color: blue;
}

div ul .done{
    color:green;
}

ul p{
    font-size: 10px;;
}
