body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #FAF9F6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
}
h1 {
  font-size: 5rem;
  width: 60%;
}
.creative {
  color: midnightblue;
}
–
.tile-image{
  float: left;
  height: 200px;
  margin-right: 45px;
}
.card {
  width: 47%;
}
.left {
  float:left ;
}
.right{
  float: right;
}
footer {
  text-align: right;
  color: midnightblue;
<<<<<<< HEAD:3.4 Web Design Mock/style.css
}

.tile-image {
  height: 200px;
  float: left;
  margin-right: 50px;
}

.card {
  width: 45%;
}

.left {
  float: left;
}

.right {
  float: right;
}

.creative {
  color: midnightblue;
}

@media (max-width: 680px) {
  .logo {
    width: 100px;
  }

  h1 {
    font-size: 3.5rem;
    text-align: center;
  }

  .card {
    width: 100%;
    display: block;
    margin-bottom: 30px;
    text-align: justify;
  }

  .card img {
    margin-bottom: 10px;
    width: 100%;
    display: inline;
    object-fit: cover;
  }
}
=======
}
>>>>>>> 746ea76e2cc6de912871adcbaab0297a4ef80b0a:HTML & CSS Assignments/3.4 Web Design Mock/style.css
