body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
  font-size: 125%;
}
.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  width:30%;
}

footer {
  text-align: right;
  color: midnightblue;
}

.right{
  float:right;
}

.card{
  width: 45%;
  display:inline;
  font-size: 2rem;
}

.tile-image{
  float:left;
  margin-right: 75px;
}

.left{
  float:left;
}
