body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}

.logo {
  width: 275px;
  padding-bottom: 50px;
}

img {
 width: 350px;
 margin-top: 15px;
}

.main {
  flex: 1;
}

h1 {
  font-size: 5rem;
  margin: 5px;
  
}

.tile-image {
  float: left;
  margin-right: 15px;

}

.right {
  float: right;
}

.left {
  float: left;
}

footer {
  text-align: right;
  color: midnightblue;
}



.violetPurple {
  color: blueviolet;
}

.card {
  width: 50%;
}