body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
  display:flex
}

h1 {
  font-size: 5rem;
}

footer {
  text-align: right;
  color: midnightblue;
}

.left-card{
  float: left;
}

.right-card{
  float:right;
}

.tile-image{
  width: 300px;
  height: 200px; 
  text-wrap: wrap;
  float:left
}

.card-title{
  margin-left: 50px;
  float:left
}

.logo{
  clear:both
}
